<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>PDFKIT-NODEJS</title>
     <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>
<body>
     <div class="container">
          <div class="pdf-card">
               <h1>PDF GENERATOR</h1>
               <a href="/route/pdf">Generate</a>
          </div>
     </div>
</body>
</html>